@import '../../assets/css/Mixins.scss';

.infocard--curator {
  position: relative;
  padding: 28px 16px 11px;

  .tag-label {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 10px;
  }

  .infocard-price {
    margin-top: 24px;
  }
}
