@import '../../assets/css/Mixins.scss';

.itemcard-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .itemcard {
    margin: 0 36px 70px 0;

    &:nth-child(4n) {
      margin-right: 0;
    }

    @at-root .itemcard-list-filter--visible & {
      &:nth-child(4n) {
        margin-right: 36px;
      }

      &:nth-child(3n),
      &:nth-child(12n) {
        margin-right: 0;
      }
    }
  }

  &--empty {
    width: 100%;
    margin: 44px auto;
    flex-direction: column;
    align-items: center;
  }

  &__empty-msg {
    @include RotaB;
    font-size: 20px;
    line-height: 1;
    color: #000;
    margin-bottom: 46px;
  }

  &__btn-empty-back {
    width: 400px;
  }
}
