@import '../../assets/css/Mixins.scss';

.itemcard-list {
  display: flex;
  // margin: -70px -18px 0;
  flex-wrap: wrap;

  .itemcard {
    // margin: 70px 18px;
    margin: 0 36px 140px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &--empty {
    width: 100%;
    margin: 44px auto;
    flex-direction: column;
    align-items: center;
  }

  &__empty-msg {
    @include RotaB;
    font-size: 20px;
    line-height: 1;
    color: #000;
    margin-bottom: 46px;
  }

  &__btn-empty-back {
    width: 400px;
  }
}
