@import '../../assets/css/Mixins.scss';

.infotable {
  width: 100%;
  table-layout: fixed;

  &__row {
    width: 100%;

    td {
      padding: 12px 0;
      border-bottom: 1px solid #eee;
    }

    &:last-child td {
      border-bottom: 0;
    }

    &--head {
      th {
        @include RotaB;
        font-size: 16px;
        line-height: 1.5;
        color: #888;
        text-align: left;
        padding: 11px 0;
        border-bottom: 1px solid #eee;

        &:last-child {
          text-align: center;
        }
      }
    }
  }

  &--scroll {
    position: relative;
    display: block;
    width: 100%;
    overflow: auto;

    .infotable__row--head th {
      z-index: 1;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-color: #fff;
    }
  }
}
