@import '../../../assets/css/Mixins.scss';

.input-title {
  display: flex;
  align-items: center;

  &__txt {
    @include RotaB;
    font-size: 16px;
    line-height: 1;
    color: #888;
  }

  &--required &__txt {
    position: relative;
    padding-right: 6px;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background: #fd3d39;
      content: '';
    }
  }

  &__help {
    position: relative;
    top: 2px;
  }
}
