@import '../assets/css/Mixins.scss';

.marketplace {
  min-height: 1080px;
  margin-bottom: 90px;

  &__wrap {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__title {
    padding: 90px 0 102px;
    font-size: 64px;
    line-height: 1.5;
    @include RotaB;
  }

  .pagenation {
    margin-top: -40px;
    justify-content: flex-end;
  }
}
